* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  
  /* ---------- NAVBAR ------------ */
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 75px;
    height: 80px;
    background-color: #130d14;
  }
  
  .grow-list {
    flex-grow: 1;
  }
  
  img {
    width: 98px;
    height: 40px;
  }
  
  .line {
    width: 1px;
    height: 55px;
    background-color: #4304f0;
    margin-left: 63px;
  }
  
  .list {
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-left: 64px;
  }
  
  .logo,
  .list-item {
    cursor: pointer;
  }
  
  .button-small {
    padding: 7px 28px;
    background: #0cc52bc2;
    border-radius: 6px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
  }
  
  /* ---------- HERO ------------ */
  
  
  .hero {
    background-image:  url("https://images.pexels.com/photos/1470502/pexels-photo-1470502.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 96vh;
    text-align: center;
    
  }
  
  .hero-heading {
    max-width: 850px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    color: #eec40a;
    padding-top: 100px;
  }
  
  .hero-description {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
  
  .button-large {
    background: #c5400c;
    border-radius: 11.2308px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29.9487px;
    line-height: 45px;
    color: #ffffff;
    border: none;
    padding: 14px 22px;
    margin-top: 64px;
    cursor: pointer;
  }